.body-chat {
	padding-bottom: 0;
}

.chat-header,
.chat-header a {
  background-color: #a1c0d6;
  color: black;
}

.chat-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.chat {
  height: 100vh;
	padding-top: 15px;
	padding-left: 8px;
	padding-right: 5px;
  background-color: #a1c0d6;
}

.chat .date-divider {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  text-align: center;
}

.chat__message {
  display: flex;
	align-items: flex-end;
  margin-bottom: 10px;
}

.chat__message--from-me {
  justify-content: flex-end;
}

.chat__message-time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 10px;
}

.chat__message--from-me .chat__message-body {
	background-color: #ffe934;
	margin-left: 5px;
}

.chat__message-body {
	margin-right: 5px;
  border-radius: 5px;
	padding: 10px 5px;
	background-color: #ffffff;
}

.chat__message--to-me img {
	align-self: flex-start;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.chat__message .chat__message-username {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 600;
}

.chat__message-center {
	display: flex;
	flex-direction: column;
}

.type-message {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 45px;
	padding-left: 10px;
	padding-right: 5px;
	background: #eeeeee;
}

.type-message .fa-plus {
	color: #b4b4b4;
}

.type-message__input {
	display: flex;
	align-items: center;
	position: relative;
	width: 90%;
}

.type-message__input input {
	width: 100%;
	padding: 7px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.type-message__input .fa-smile {
	position: absolute;
	right: 40px;
	color: #b4b4b4;
}

.type-message__input .record-message {
	padding: 8px;
	background-color: #ffe934;
	color: #523737;
	cursor: pointer;
}